@import '../../global/stylesheets/variables';

$color: $primaryColor;
$colorLight: adjust_color($primaryColor, $lightness: 57%);

.team {
  line-height: 1.8rem;
  color: $primaryColor;
  outline: none;
  cursor: pointer;
  text-decoration: none !important;

  &:focus {
    outline: none;
    border: none;
  }
}

.trophy_icon {
  width: 20px;
  position: relative;
  top: -1.5px;
}

.table_row {
  td:first-child {
    padding: 40px 15px;
  }
}

@media only screen {
  @media (min-width: 430px) {
    .team {
      line-height: 2.3rem;
      background-color: $colorLight;
      padding: 3px 15px 1.5px 15px;
      border: 1px solid adjust_color($color, $lightness: 50%);
      transition: background-color 0.5s, border 0.5s;

      &:hover {
        color: $primaryColor;
        background-color: adjust_color($colorLight, $lightness: -5%);
        border: 1px solid adjust_color($color, $lightness: 35%);
      }
    }
  }

  @media (min-width: $sm) and (max-width: $md) {

  }

  @media (max-width: $md) {

  }


  @media (min-width: $md) {
    .table_row {
      td:first-child {
        padding: 0 20px;
      }
    }
  }

  @media (min-width: $md) and (max-width: $lg) {

  }

  @media (max-width: $lg) {

  }

  @media (min-width: $lg) {

  }

  @media (min-width: $lg) and (max-width: $xl) {

  }

  @media (min-width: $xl) {

  }

  @media (min-width: $xl) and (max-width: $xxl) {

  }

  @media (min-width: $xxl) {

  }
}