@import '../../global/stylesheets/variables';

$color: $primaryColor;
$colorLight: adjust_color($primaryColor, $lightness: 57%);

.team {
  background-color: $colorLight;
  padding: 3px 15px 1.5px 15px;
  color: $primaryColor;
  outline: none;
  border: 1px solid adjust_color($color, $lightness: 50%);
  transition: background-color 0.5s, border 0.5s;
  cursor: pointer;
  text-decoration: none !important;

  &:focus {
    outline: none;
    border: none;
  }

  &:hover {
    color: $primaryColor;
    background-color: adjust_color($colorLight, $lightness: -5%);
    border: 1px solid adjust_color($color, $lightness: 35%);
  }
}


.trophy_icon {
  width: 20px;
  position: relative;
  top: -1px;
}